.amarillo{
    background-color: #facc15;
}
.morado-indigo{
    background-color: #312e81;
}
.azul-cielo{
    background-color: #2563eb;
}
.azul-medio{
    background-color: #1d4ed8;
}
.azul-oscuro{
    background-color: #1e40af;
}
.gris-zinc{
   background-color:#d4d4d8;
}
.negro-zinc{
    background-color: #18181b;
}